---
import "../style/styles.css";
const { venue } = Astro.props;
---

<section class={`map_venue_symbol_grid ${venue}`}>
  <div class="flex exhibitions">
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="20" viewBox="0 0 28 20" fill="none">
      <path
        d="M2.28892 0H26.5042C26.8812 0 27.2166 0.153441 27.4621 0.396756C27.7054 0.64007 27.8589 0.986409 27.8589 1.35467V18.6453C27.8589 19.0224 27.7054 19.3577 27.4621 19.6032C27.4424 19.623 27.4204 19.6449 27.3898 19.6646C27.1552 19.8794 26.8396 20 26.4932 20H2.27796C1.90094 20 1.56556 19.8466 1.32005 19.6032C1.07674 19.3599 0.923294 19.0136 0.923294 18.6453V1.35467C0.923294 0.977641 1.07674 0.642262 1.32005 0.396756C1.56336 0.151249 1.9119 0 2.27796 0H2.28892ZM7.88077 4.69531C8.95486 4.69531 9.82509 5.56554 9.82509 6.63744C9.82509 7.71153 8.95486 8.58176 7.88077 8.58176C6.80668 8.58176 5.93645 7.71153 5.93645 6.63744C5.93645 5.56554 6.80668 4.69531 7.88077 4.69531ZM16.0592 13.0338L19.9457 6.31302L24.0754 16.758H4.80317V15.4625L6.42308 15.3814L8.04298 11.4139L8.85184 14.2481H11.2806L13.3849 8.82289L16.0592 13.0338ZM26.2499 1.60894H2.5432V18.3801H26.2499V1.60894Z"
        fill="black"></path>
    </svg>
    <p>Exhibitions</p>
  </div>

  <div class="flex talks_and_workshops">
    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M19.3018 1.6195C18.2203 0.540375 16.8027 0 15.3835 0C13.966 0 12.5484 0.540375 11.4669 1.6195C11.188 1.89782 10.9449 2.19894 10.7377 2.51633C10.8503 4.06421 11.9922 5.78299 13.4831 7.19903C15.023 8.65902 16.9153 9.77884 18.4422 10.0555C18.4748 10.062 18.5074 10.0669 18.54 10.0718C18.8076 9.88626 19.062 9.67467 19.3002 9.43703C20.3817 8.35791 20.9233 6.9435 20.9233 5.52908C20.9233 4.11304 20.3833 2.69862 19.3018 1.6195ZM1.69242 18.4948C1.44936 18.7552 1.26177 19.0515 1.12148 19.3803C0.837638 20.0427 0.78707 20.1404 1.45588 19.8327C1.80497 19.6716 2.12633 19.4665 2.4118 19.2126C2.71685 19.4958 3.00395 19.6423 3.33509 19.6846C3.67439 19.7286 4.01533 19.6537 4.44761 19.5056C5.85864 19.0206 10.7214 15.0524 13.749 12.5816C14.5255 11.9485 15.1764 11.4162 15.6413 11.05C16.2204 11.024 16.7946 10.9068 17.3443 10.7001C15.8648 10.1581 14.2515 9.10988 12.9008 7.82893C11.6529 6.64564 10.6186 5.25564 10.0999 3.86564C9.94657 4.35067 9.86338 4.85036 9.84707 5.35329C9.52897 5.75369 9.06406 6.32662 8.49965 7.02325C6.03156 10.0653 1.72015 15.3763 1.38085 16.4993C1.26013 16.8997 1.19325 17.2334 1.23077 17.5606C1.26992 17.8959 1.40858 18.1937 1.69242 18.4948ZM14.3705 10.9621C14.0312 11.2372 13.6348 11.5611 13.2009 11.9143C10.2206 14.346 5.43615 18.2523 4.1654 18.6885C3.85057 18.7959 3.62219 18.8529 3.44439 18.8301C3.28942 18.8106 3.13445 18.7162 2.94033 18.5225L2.36286 17.9463C2.18832 17.7722 2.10676 17.6208 2.08881 17.4645C2.06761 17.2774 2.11817 17.0446 2.20789 16.7484C2.49826 15.7881 6.73952 10.5617 9.16846 7.56851C9.4572 7.21205 9.72146 6.88653 9.94983 6.60657C10.1554 7.64338 10.6611 8.63298 11.4669 9.43703C12.2891 10.2574 13.307 10.7652 14.3705 10.9621Z"
        fill="black"></path>
    </svg>
    <p>Talks & Workshops</p>
  </div>

  <div class="flex huset_cafe_and_bar">
    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="20" viewBox="0 0 23 20" fill="none">
      <path
        d="M5.96243 17.4412L9.57171 13.0646L11.2227 15.1705L8.0405 19.2172C6.82178 20.7658 4.56664 19.1339 5.96243 17.4412ZM10.1776 7.47448C10.5213 6.35299 10.3634 5.39468 9.07172 3.97111L5.91556 0.174338C5.46765 -0.351689 4.41213 0.420859 4.85309 1.05799L7.37732 4.16728C7.85474 4.74713 6.96761 5.51447 6.47457 4.91726L3.86353 1.70207C3.37743 1.1448 2.37225 1.88089 2.88092 2.51802C3.61701 3.40342 4.75587 4.84956 5.49196 5.73495C6.00236 6.25403 5.22634 7.02311 4.72288 6.37556L2.13094 3.1812C1.75074 2.76802 1.12923 3.02495 0.964305 3.50758C0.787227 4.02319 1.22298 4.39992 1.51985 4.78185L4.41213 8.51786C5.30967 9.55776 6.31312 10.1741 7.47975 9.82511C7.65857 9.77129 7.87731 9.66192 8.11168 9.51783L15.8823 19.5488C16.3007 20.0887 17.108 20.146 17.6322 19.7103L17.752 19.6113C18.3423 19.12 18.4378 18.2225 17.9326 17.6426L9.70365 8.18801C9.94322 7.92065 10.1186 7.66719 10.1776 7.47448ZM12.3772 9.66192L13.6567 8.10988C12.0109 4.03013 18.1097 -1.40722 21.0662 1.09272C24.6581 4.13256 19.3197 11.4587 15.5681 9.64803L14.0525 11.5733L12.3772 9.66192Z"
        fill="black"></path>
    </svg>
    <p>Huset Café & Bar</p>
  </div>

  <div class="flex info_desk">
    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="20" viewBox="0 0 10 20" fill="none">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M6.02892 0.347717C6.72582 0.347717 7.2741 0.548964 7.67345 0.947686C8.06856 1.34515 8.26808 1.89139 8.26808 2.59426C8.26808 3.30719 7.92827 3.94093 7.24362 4.49675C6.55536 5.05258 5.75698 5.33222 4.84721 5.33222C4.1635 5.33222 3.61993 5.14087 3.20314 4.75723C2.78667 4.36919 2.57851 3.86725 2.57851 3.24293C2.57851 2.45633 2.91832 1.77844 3.59417 1.20266C4.2697 0.633013 5.08097 0.347717 6.02892 0.347717ZM9.92329 19.6523H0.923294V18.1378H2.61449V8.88773H0.923294V7.68213H5.12967C6.19215 7.68213 7.23765 7.55457 8.27044 7.29409V18.1378H9.92329V19.6523Z"
        fill="black"></path>
    </svg>
    <p>Information Desk</p>
  </div>

  <div class="flex toilets">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M6.72939 6.33628V19.069C6.72896 19.3155 6.63128 19.5518 6.45771 19.7263C6.28413 19.9007 6.04877 19.9992 5.80308 20C5.5571 19.9996 5.32133 19.9014 5.1474 19.7269C4.97347 19.5524 4.87557 19.3158 4.87514 19.069V11.582H4.51013V19.069C4.50927 19.3157 4.41123 19.552 4.2374 19.7264C4.06356 19.9008 3.82803 19.9992 3.58219 20C3.33635 19.9992 3.10082 19.9008 2.92699 19.7264C2.75315 19.552 2.65511 19.3157 2.65425 19.069V6.33628H2.3298V11.0156C2.32894 11.2021 2.25461 11.3807 2.12302 11.5124C1.99142 11.6442 1.81325 11.7183 1.62736 11.7188C1.44132 11.7183 1.26297 11.6442 1.13112 11.5125C0.999269 11.3809 0.924577 11.2023 0.923294 11.0156L0.923294 5.97983C0.923294 5.16603 1.19746 4.5866 1.69712 4.209C2.55692 3.55796 6.80077 3.55796 7.66057 4.209C8.16185 4.5866 8.43926 5.16115 8.43764 5.97983V11.0156C8.43636 11.2017 8.36212 11.3798 8.23096 11.5114C8.09981 11.643 7.92229 11.7175 7.73682 11.7188C7.5505 11.7183 7.37191 11.644 7.24001 11.512C7.10812 11.3799 7.03361 11.2009 7.03276 11.014V6.33628H6.72939ZM18.4097 5.78452C18.4226 5.81281 18.433 5.84223 18.4405 5.87241L19.9038 11.0482C19.9294 11.1396 19.9368 11.2351 19.9255 11.3293C19.9143 11.4236 19.8847 11.5147 19.8384 11.5974C19.792 11.6801 19.7299 11.7529 19.6556 11.8116C19.5812 11.8703 19.4961 11.9137 19.405 11.9393C19.3139 11.965 19.2187 11.9724 19.1248 11.9611C19.0308 11.9498 18.94 11.9201 18.8576 11.8736C18.691 11.7798 18.5684 11.6234 18.5168 11.4388L17.0762 6.33139H17.0551H16.7566V6.65691L18.6644 14.2741H16.7566V19.0658C16.7558 19.3124 16.6577 19.5487 16.4839 19.7231C16.3101 19.8975 16.0745 19.9959 15.8287 19.9968C15.5827 19.9963 15.3469 19.8981 15.173 19.7236C14.9991 19.5491 14.9012 19.3126 14.9008 19.0658V14.2774H14.5357V19.069C14.5353 19.3158 14.4374 19.5524 14.2635 19.7269C14.0896 19.9014 13.8538 19.9996 13.6078 20C13.3621 19.9992 13.1268 19.9007 12.9532 19.7263C12.7796 19.5518 12.6819 19.3155 12.6815 19.069V14.2774H10.6569L12.6799 6.46486V6.34279H12.3554H12.3278L10.8986 11.4388C10.8401 11.6155 10.7161 11.7628 10.5522 11.8502C10.3884 11.9375 10.1973 11.9582 10.0186 11.908C9.83992 11.8577 9.6874 11.7404 9.59269 11.5803C9.49798 11.4202 9.46835 11.2296 9.50996 11.0482L10.9294 5.98309H10.9148C11.1322 5.16928 11.3139 4.58986 11.8136 4.21225C12.6734 3.56121 16.828 3.56121 17.6878 4.21225C18.1502 4.56056 18.2313 5.02605 18.4146 5.78777L18.4097 5.78452ZM14.7126 1.25938e-05C15.0441 0.00129916 15.3677 0.101095 15.6427 0.286799C15.9177 0.472504 16.1317 0.735791 16.2577 1.04342C16.3836 1.35105 16.4159 1.68923 16.3505 2.01525C16.285 2.34128 16.1248 2.64055 15.8899 2.87526C15.6551 3.10997 15.3562 3.26961 15.031 3.33402C14.7057 3.39843 14.3688 3.36473 14.0627 3.23716C13.7565 3.10959 13.4949 2.89388 13.3109 2.61727C13.1269 2.34065 13.0287 2.01553 13.0287 1.68296C13.0287 1.4614 13.0723 1.24202 13.157 1.03741C13.2417 0.832804 13.3658 0.646989 13.5223 0.490627C13.6787 0.334266 13.8644 0.210438 14.0687 0.126246C14.2729 0.0420536 14.4917 -0.00084449 14.7126 1.25938e-05ZM4.68047 1.25938e-05C5.01223 1.25938e-05 5.33654 0.0987155 5.61239 0.28364C5.88824 0.468564 6.10324 0.731403 6.23021 1.03892C6.35717 1.34644 6.39038 1.68482 6.32566 2.01128C6.26094 2.33774 6.10118 2.63761 5.86658 2.87298C5.63199 3.10834 5.3331 3.26862 5.00772 3.33356C4.68233 3.3985 4.34505 3.36517 4.03854 3.23779C3.73203 3.11041 3.47006 2.89471 3.28574 2.61795C3.10142 2.34119 3.00304 2.01581 3.00304 1.68296C3.00304 1.23661 3.17977 0.808548 3.49435 0.492935C3.80893 0.177322 4.23559 1.25938e-05 4.68047 1.25938e-05Z"
        fill="black"></path>
    </svg>
    <p>Toilets</p>
  </div>

  <div class="flex entrance_and_exit">
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 15 20" fill="none">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M10.3085 20L14.9233 15.245L11.953 15.2447V10.9054V10.8231V6.82476H8.66381V10.8234V15.2447L5.69303 15.245L10.3085 20ZM5.53859 0L10.1532 4.75497L7.18294 4.75529V9.09458V9.17677V13.1752H3.89391V9.17661V4.75529L0.923294 4.75497L5.53859 0Z"
        fill="black"></path>
    </svg>
    <p>Entrance & Exit</p>
  </div>

  <div class="flex garden_cafe">
    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="20" viewBox="0 0 23 20" fill="none">
      <path
        d="M5.96243 17.4412L9.57171 13.0646L11.2227 15.1705L8.0405 19.2172C6.82178 20.7658 4.56664 19.1339 5.96243 17.4412ZM10.1776 7.47448C10.5213 6.35299 10.3634 5.39468 9.07172 3.97111L5.91556 0.174338C5.46765 -0.351689 4.41213 0.420859 4.85309 1.05799L7.37732 4.16728C7.85474 4.74713 6.96761 5.51447 6.47457 4.91726L3.86353 1.70207C3.37743 1.1448 2.37225 1.88089 2.88092 2.51802C3.61701 3.40342 4.75587 4.84956 5.49196 5.73495C6.00236 6.25403 5.22634 7.02311 4.72288 6.37556L2.13094 3.1812C1.75074 2.76802 1.12923 3.02495 0.964305 3.50758C0.787227 4.02319 1.22298 4.39992 1.51985 4.78185L4.41213 8.51786C5.30967 9.55776 6.31312 10.1741 7.47975 9.82511C7.65857 9.77129 7.87731 9.66192 8.11168 9.51783L15.8823 19.5488C16.3007 20.0887 17.108 20.146 17.6322 19.7103L17.752 19.6113C18.3423 19.12 18.4378 18.2225 17.9326 17.6426L9.70365 8.18801C9.94322 7.92065 10.1186 7.66719 10.1776 7.47448ZM12.3772 9.66192L13.6567 8.10988C12.0109 4.03013 18.1097 -1.40722 21.0662 1.09272C24.6581 4.13256 19.3197 11.4587 15.5681 9.64803L14.0525 11.5733L12.3772 9.66192Z"
        fill="black"></path>
    </svg>
    <p>Garden Café</p>
  </div>

  <div class="flex staircase">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path d="M15 3H21V21H3V15H7V11H11V7H15V3Z" fill="black"></path>
    </svg>
    <p>Staircase</p>
  </div>

  <div class="flex cafeteria_and_cafe">
    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="20" viewBox="0 0 23 20" fill="none">
      <path
        d="M5.96243 17.4412L9.57171 13.0646L11.2227 15.1705L8.0405 19.2172C6.82178 20.7658 4.56664 19.1339 5.96243 17.4412ZM10.1776 7.47448C10.5213 6.35299 10.3634 5.39468 9.07172 3.97111L5.91556 0.174338C5.46765 -0.351689 4.41213 0.420859 4.85309 1.05799L7.37732 4.16728C7.85474 4.74713 6.96761 5.51447 6.47457 4.91726L3.86353 1.70207C3.37743 1.1448 2.37225 1.88089 2.88092 2.51802C3.61701 3.40342 4.75587 4.84956 5.49196 5.73495C6.00236 6.25403 5.22634 7.02311 4.72288 6.37556L2.13094 3.1812C1.75074 2.76802 1.12923 3.02495 0.964305 3.50758C0.787227 4.02319 1.22298 4.39992 1.51985 4.78185L4.41213 8.51786C5.30967 9.55776 6.31312 10.1741 7.47975 9.82511C7.65857 9.77129 7.87731 9.66192 8.11168 9.51783L15.8823 19.5488C16.3007 20.0887 17.108 20.146 17.6322 19.7103L17.752 19.6113C18.3423 19.12 18.4378 18.2225 17.9326 17.6426L9.70365 8.18801C9.94322 7.92065 10.1186 7.66719 10.1776 7.47448ZM12.3772 9.66192L13.6567 8.10988C12.0109 4.03013 18.1097 -1.40722 21.0662 1.09272C24.6581 4.13256 19.3197 11.4587 15.5681 9.64803L14.0525 11.5733L12.3772 9.66192Z"
        fill="black"></path>
    </svg>
    <p>Cafeteria & Café</p>
  </div>
</section>

<style>
  .map_venue_symbol_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
  }
  .flex {
    display: grid;
    grid-template-columns: 30px auto;
    gap: 0.5rem;
    align-content: center;
    justify-content: start;
    img,
    svg {
      display: flex;
    }
  }

  /* --------------CLASSES TIL DE FORSKELLIGE VENUES-------------- */
  .huset {
    .garden_cafe,
    .staircase,
    .cafeteria_and_cafe {
      display: none;
    }
  }
  .blox1 {
    .exhibitions,
    .huset_cafe_and_bar,
    .cafeteria_and_cafe {
      display: none;
    }
  }
  .blox2 {
    .exhibitions,
    .huset_cafe_and_bar,
    .cafeteria_and_cafe,
    .info_desk,
    .entrance_and_exit,
    .garden_cafe {
      display: none;
    }
  }
  .black_diamond {
    .huset_cafe_and_bar,
    .staircase,
    .garden_cafe {
      display: none;
    }
  }
</style>
